fsspec==2025.3.0
safetensors==0.5.3
PyYAML==6.0.2
torchvision==0.20.1
natsort==8.4.0
typer==0.15.2
httpcore==1.0.7
certifi==2025.1.31
pyrealsense2==2.55.1.6486
shellingham==1.5.4
numpy-quaternion==2023.0.3
contourpy==1.3.1
tzdata==2025.1
trimesh==4.6.4
cycler==0.12.1
semantic-version==2.10.0
threadpoolctl==3.5.0
ruff==0.9.10
docker-pycreds==0.4.0
Markdown==3.7
torchdiffeq==0.2.5
xxhash==3.5.0
msgpack==1.1.0
setuptools==65.5.0
mpmath==1.3.0
pyaml==25.1.0
rtree==1.4.0
mkl_random==1.2.8
seaborn==0.13.2
mkl_fft==1.3.11
gmpy2==2.2.1
pydub==0.25.1
svg.path==6.3
pillow==11.1.0
tqdm==4.67.1
multipledispatch==1.0.0
hydra-core==1.3.2
Werkzeug==3.1.3
joblib==1.4.2
rpds-py==0.23.1
curope==0.0.0
moderngl-window==2.4.6
numpy==1.26.4
pandas==2.2.3
smmap==5.0.2
SAM-2==1.0
scikit-learn==1.6.1
mapbox_earcut==1.0.3
Pygments==2.19.1
tensorboard==2.19.0
triton==3.1.0
antlr4-python3-runtime==4.9.3
huggingface-hub==0.29.2
manifold3d==3.0.1
wheel==0.45.1
rich==13.9.4
h11==0.14.0
gradio==5.20.1
pyparsing==3.2.1
annotated-types==0.7.0
sentry-sdk==2.26.1
soupsieve==2.6
gdown==5.2.0
plyfile==1.1
Brotli==1.0.9
asmk==0.1
pydantic_core==2.27.2
Jinja2==3.1.5
embreex==2.17.7.post6
jsonschema-specifications==2024.10.1
MAST3R==0.0.1
networkx==3.4.2
torch==2.5.1
sniffio==1.3.1
urllib3==2.3.0
sympy==1.13.1
lietorch==0.2
glcontext==3.0.0
matplotlib==3.10.1
psutil==7.0.0
filelock==3.13.1
gitdb==4.0.12
pycollada==0.9
opencv-python==4.11.0.86
python-multipart==0.0.20
click==8.1.8
xatlas==0.0.9
MarkupSafe==2.1.5
fastapi==0.115.11
pyglm==2.8.0
referencing==0.36.2
pydantic==2.10.6
requests==2.32.3
httpx==0.28.1
setproctitle==1.3.5
attrs==25.1.0
omegaconf==2.3.0
portalocker==3.1.1
starlette==0.46.1
colorlog==6.9.0
ruamel.yaml==0.18.10
numexpr==2.10.2
evo==1.31.0
python-dateutil==2.9.0.post0
moderngl==5.12.0
shapely==2.0.7
idna==3.7
mkl-service==2.4.0
faiss-cpu==1.10.0
pyrr==0.10.3
torchaudio==2.5.1
anyio==4.8.0
platformdirs==4.3.7
vhacdx==0.0.8.post2
protobuf==5.29.4
PySocks==1.7.1
typing_extensions==4.12.2
absl-py==2.1.0
groovy==0.1.2
MAST3R-SLAM==0.0.1
mdurl==0.1.2
kiwisolver==1.4.8
uvicorn==0.34.0
roma==1.5.1
einops==0.8.1
charset-normalizer==3.3.2
gradio_client==1.7.2
GitPython==3.1.44
wandb==0.19.9
grpcio==1.70.0
tomlkit==0.13.2
jsonschema==4.23.0
lxml==5.3.1
websockets==15.0.1
ffmpy==0.5.0
glfw==2.8.0
tensorboard-data-server==0.7.2
imageio==2.37.0
aiofiles==23.2.1
beautifulsoup4==4.13.3
ruamel.yaml.clib==0.2.12
imgui==2.0.0
zstandard==0.23.0
in3d==0.0.1
colorama==0.4.6
packaging==24.2
pyglet==2.1.3
pip==25.0
iopath==0.1.10
rosbags==0.10.8
safehttpx==0.1.6
six==1.17.0
argcomplete==3.6.0
pytz==2025.1
markdown-it-py==3.0.0
fonttools==4.56.0
orjson==3.10.15
lz4==4.4.3
TorchCodec==0.1.0
scipy==1.15.2
